<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group row">
        <label for="Enter username" class="col-sm-2 col-form-label">Github username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Enter username" placeholder="Enter username" name="Enter username">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-primary">Serch</button>
        </div>
      </div>
    </form>
    
  </div>
</div>