<div class="row">
  <div class="col-md-12">
    <app-username-form (searchedUserName)="search($event)"></app-username-form>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <!-- Card -->
    <div class="card testimonial-card">
            <!-- Card footer -->
            <div class="rounded-bottom default-color lighten-3 text-right pt-3">
              <ul class="list-unstyled list-inline font-small">
                <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>{{githubInfo.created_at|postedAgoPipe}}</li>
                <li class="list-inline-item pr-2">Followers {{githubInfo.followers}}</li>
                <li class="list-inline-item pr-2">Following {{githubInfo.following}}</li>
                <li class="list-inline-item">Location {{githubInfo.location}}</li>
              </ul>
            </div>

      <!-- Background color -->
      <div class="card-up indigo lighten-1"></div>
      <div class="row">
        <div class="col-md-4">
          <!-- Avatar -->
          <div class="avatar mx-auto ">
            <img src="{{githubInfo.avatar_url}}" class="rounded-circle pt-3 pb-3 pl-2 img-fluid" alt="avatar">
          </div>
        </div>
        <div class="col-md-7">
          <!-- Content -->
          <div class="card-body">
            <!-- Name -->
            <h4 class="card-title">{{githubInfo.login}}</h4>
            <hr>
            <!-- Quotation -->
            <ul class="list-unstyled">
              <li>Name: {{githubInfo.name}}</li>
              <li>Bio: {{githubInfo.bio}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div *ngFor="let repo of repos">
      <div class="row">
        <div class="col-md-9">
          <h5><a href="{{repo.html_url}}"></a>{{repo.name}}</h5>
          <p>{{repo.description}}</p>
        </div>
        <div class="col-md-3">
          <label>{{repo.watchers}} Watchers</label>
          <label>{{repo.forks}} Forks</label>
        </div>
      </div>

    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12 ">
<div class="repos">
  <card class="text-left " *ngFor="let repo of repos">
    <div class="row">
      <div class="col-md-12 repoinfo">
        <card-header class="pl-2"><h5><a href="{{repo.html_url}}"></a>{{repo.name}}</h5></card-header>
        <card-body>
          <card-text><p><strong>Description</strong><br>{{repo.description}}</p>
          </card-text>
          
        </card-body>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 repoinfo">
        <div class="default-color text-right footer pr-2" >
          <span class="pr-4">
            <label class="pr-4">Watchers {{repo.watchers}} </label>
            <label>Forks {{repo.forks}} </label>
          </span>
          <a href="{{repo.html_url}}" class="white-text">view repository</a>
        </div>
      </div>
    </div>
  </card>
</div>
  </div>
</div>